.message-container {
	margin-bottom: 15px;
}

.message-holder {
	border:1px solid black;
	height:600px;
	overflow-y:scroll;
	overflow-x:hidden;
	word-wrap:break-word;
}

.ic-message {
	font-style:italic;
	font-weight:bold;
	color:#BABABA;
}

.display-name {
	padding-right:5px;
}

.typing-indicator {
	font-style:italic;
	color:#BABABA;
}

.message-input-box {
	border: 1px solid #333;
	border-right: none;
	border-top: none;
}

.message-input-box > input {
	width: 100%;
}

.message-input-buttons {
	border: 1px solid #333;
	border-left: none;
	border-top: none;
	text-align: right;
}

.inputnostyle, .inputnostyle:focus{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	border: none !important;
	border-color: transparent !important;
	height:34px;
	outline:0;
}
